body, html {
	font-family:"arvo", sans-serif;
}

body {
  left: 0;
  margin: 0;
  position: relative;
  overflow: scroll;
}

body:before {
	content: "";
	display: block;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -10;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;

}

html {
	scroll-behavior: smooth;
  }

.col-xs-4 {
	width: 100% !important;
}

/* h1 font */

@font-face {
	font-family: MochiyPop;
	src: url("public/fonts/MochiyPopPOne-Regular.ttf");
  }
  
  h1 {
	font-family: MochiyPop !important;
  }

/*mobile only*/
.mobile-logo {
	display:none;
}

.icon-menu {
	display:none;
}

.menu {
  color:#fff;	
  background-color: #673AB7;
  height: 100%;
  position: fixed;
  width: 280px;
  left:-280px;
  opacity: 0.98;
  z-index: 100;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.menu li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-top: 3px;
  text-align: center;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-close i {
	font-size: 35px;
	color: #fff;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-top: 10px;
  background: transparent;
  position: fixed;
  z-index: 1000;
}

.icon-menu i {
  margin-right: 5px;
  font-size: 35px;
  cursor: pointer;
}

/*header*/
.header {
	text-align:center;
	background:transparent;
	position: absolute;
	width: 100%;
	display: inline-block;
	z-index: 100;
}

.nav {
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

.nav ul {
list-style-type: none;
text-align: center;
}

.nav li {
	text-decoration:none;
	color:#fff;
	font-size:14px;
	padding:10px;
	display:inline-block;
	text-transform: uppercase;
 	-webkit-transition:color 0.25s;
  	transition:color 0.25s;
}

.nav li a {
	text-decoration: none;
	color:#fff;
	transition: color .3s;
}

.nav li a:hover{
	background:transparent;
	cursor:pointer;
	transition: color .3s;
	-webkit-transition:color .3s;
	color:#F0BAFF;
}

/*email icon*/

#location {
	background-color: #9FB9E1;
    background-position: 100% left;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    color:#000;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 25px;
    cursor: pointer;
    height: 66px;
    position: fixed;
    right: 95%;
    width: 68px;
    z-index: 1000;
    box-shadow: 0 3px 4px rgba(0,0,0,.4);
    padding-top:8px;
    right: 30px;
    display: none;

}

#bs-over .email-button i {
	padding-left: 0px;
	margin-left: 0px;
	color: #fff;
	font-size: 38px;
	padding-left: 13px;
}

#bs-over #location a {
	text-decoration: none;
	color:#fff;
	padding-left: 0px;
	margin-left: 0px;
}


/*jumbotron*/

#home {
	height:900px;
	background-image:url("public/images/new/san-telmo-front.jpeg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 0;
	z-index: -1;
}

/*supporting*/
#supporting-home {
	height:300px;
	background-color:#9FB9E1;
	margin:0px;
	text-align:center;
	color:#fff;
	opacity: 0.9;
}

#supporting-home h1 {
	margin:0;
	padding:40px 0px 10px;
	font-size:5em;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-transform: uppercase;

}

#supporting-home p {
	padding-bottom:10px;
	font-size:20px;
}

.btn {
	border-radius:0px;
	background-color:#fff;
	color:#000;
	border:2px solid #fff;
	border-radius: 4px;
	padding: 15px;
	font-size: 18px;
	transition: background-color .3s;
	text-transform: uppercase;

}

.btn a {
	text-decoration:none;
	color:#000;
}

.btn:hover, .btn:focus {
	background-color:#FF80AB;
	color:#fff;
	border: 2px solid #fff;
}

#whatssap {
	background-color: #FF80AB !important;
    color: #fff !important;
    border: 2px solid #fff;
}
}
#bs-over #about {
	height:600px;
  background-image: url("/public/images/sunset.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 0;
}

#bs-over #about h1 {
  color:#fff;
  font-size:5em;
  text-transform: uppercase;
  text-align:center;
  margin-top:300px;
}

/*supporting*/

#our-menu {
  background-image: url("/public/images/SAM_2362.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

#our-antiques {
  background-image: url("/public/images/SAM_2505.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
}

#our-inspiration {
  background-image: url("/public/images/front.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
}

#our-friends {
  background-image: url("/public/images/friends.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
}

.supporting .row {
  padding:80px 40px 80px 40px;
}

.img-thumbnail {
  padding:10px;
}

#bs-over .about .supporting .container {
  padding: 0;
  left: 0;
  right: 0;
  width: 98%;
  }

.supporting .col-md-7 p {
  padding: 20px;
  font-size:22px;
  color: #fff;
  text-shadow:0 3px 4px rgba(0,0,0,.4);
  background: #000;
  opacity: 0.8;
}

.supporting .col-md-7 h1 {
  font-size: 48px;
  color: #fff;
  text-shadow:0 3px 4px rgba(0,0,0,.4);
}

.hotel h1 {
  margin: 0px;
}

.hotel .jumbotron {
  height: 600px;
  background-image: url("/images/SAM_2376.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.hotel .jumbotron h1 {
  color:#fff;
  text-shadow: 0px 2px 3px #000;
  font-size:6em;
  text-transform: uppercase;
  text-align:center;
  margin-top:300px;
}

.hotel .feature {
  height: 600px;
  background-image: url("/images/SAM_2036.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hotel .feature h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  text-align: right;
  text-shadow: 0px 2px 3px #000;
  padding: 250px 20px 0px 0px;
}

.hotel .feature-2 {
  height: 600px;
  background-image: url("public/images/new/healthy-food.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.hotel .feature-2 h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  text-align: left;
  text-shadow: 0px 2px 3px #000;
  padding: 250px 0px 0px 20px; 
}

.hotel .feature-3 {
  height: 600px;
  background-image: url("/images/SAM_2152.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} 

.hotel .feature-3 h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  text-align: right;
  text-shadow: 0px 2px 3px #000;
  padding: 250px 20px 0px 0px;
}

.happy .jumbotron {
  height: 800px;
  background-image: url("/images/SAM_2517.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}

.happy h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 0px 2px 3px #000;
  text-align: center;
  margin-top: 250px;
}

.happy h3 {
  text-align: center;
  font-size: 3em;
  color: #FF518C;
  text-shadow: 0px 2px 3px #000;
}

/*feature*/
.feature-1 {
	height:700px;
	background-image:url("public/images/new/feature-1.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: right;
}
.feature-1 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:right;
}

.feature-1 p {
	color: #fff;
	font-size: 1.2em;
	text-shadow: 0px 2px 3px #000;
}

.feature-2 {
	height:700px;
	background-image:url("public/images/new/healthy-food.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.feature-2 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
}

.feature-2 p {
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:left;
	font-size: 1.2em;
}

#bs-over .feature-2 .container #hotel-btn {
	text-align:left;
}

.feature-3 {
	height:700px;
	background-image:url("public/images/new/food-view.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: right;
}

.feature-3 h1 {
	padding:150px 0px 10px;
	font-size:70px;
	text-shadow:0 2px 3px rgba(0,0,0,.4);
	color:#fff;
	text-align:right;
}

.feature-3 p {
	color: #fff;
	font-size: 1.2em;
	text-shadow: 0px 2px 3px #000;
}

/*footer*/
.footer {
	background-color:#8595D8;
	color:#fff;
	padding-bottom: 60px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.footer .material-icons {
	font-size: 48px;
	border: 2px solid #fff;
	border-radius: 50%; 
}

#up {
	text-align: center;
}

.footer .col-md-4 {
	text-align: center;
}

.footer ul {
	list-style-type: none;
	padding-left:0;
	padding-bottom: 20px;
}

.footer li {
	color:#fff;
	display:inline;
	padding:10px;
}

.footer li a {
	text-decoration: none;
	color:#fff;
}

.footer li i:hover {
	color:#FF6ED9;
	border-color: #FF6ED9;
}

.footer h6 {
	text-align:center;
	color: #fff;
	padding:35px;
	font-size:14px;
	text-decoration: none;
}

.footer h6 span {
	border-bottom:1px solid #fff;
	color: #fff;
}

.footer h6 a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (max-width:768px) {

.header li {
	display:none;
}

.header a {
	text-align: center;
	position: center;
}

.icon-menu {
	display:inline;
	line-height:3px;
}

#bs-over .mobile-logo {
	display:inline;
	position: center;
	padding:1px;
	margin-top: 20%;
	margin-left: auto;
}

#location {
	display: inline;
}

#supporting-home {
	height: 220px;
}

#bs-over .supporting h1 {
	font-size: 2.5em;
}

.jumbotron, .feature-1, .feature-2, .feature-3, .feature-4, #home, #our-friends, #our-antiques, #our-menu, #our-inspiration  {
	background-attachment: scroll;
}

.btn {
	font-size: 1.1em;
	padding: 10px;
}

.jumbotron h1 {
	font-size: 4.5em;
}

#gallery h1 {
	font-size: 4.5em;
}

#contact h1 {
	font-size: 4.5em;
}

.galleria img {
	width: 100%;
	height: 75%;
}

.footer {
	height:420px;
}

.footer h3 {
	font-size:1.5em;
}
.footer p, .footer a {
	font-size:12px;
}

.footer li {
	display:inline-block;
	padding:5px;
	}
}